
@using APPBASE.Helpers
@using APPBASE.Svcbiz

@{
    ViewBag.Title = "Validasi Produk Baru";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm("Indexvalidasi", "Product", FormMethod.Post, new { id = "Validate_product" })) {

    <input type="hidden" id="ID" name="ID" value="@ViewBag.ID" />    
    <div class="box box-info">
        <div class="box-header">
            <h3 class="box-title"></h3>
        </div><!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
            @{Html.RenderPartial("Indexvalidasi_data");}
        </div><!-- /.box-body -->
    </div><!-- /.box -->
}

@section scripts {

<script type="text/javascript">
    $(document).ready(function () {
        /*=========================================
        INITIALIZE
        =========================================*/
        doSearchAbleTable('#searchValue', '', '.SEARCHABLE_ROWS');

        /*=========================================
        EVENTS
        =========================================*/
        $(".cmdValidate").click(function () {
            var sID = $(this).attr("value");
            $("#ID").val(sID);
            $("#Validate_product").submit();
        })

    });    //End $(document).ready
</script>

}
