<div class="row">
    <div class="col-sm-12 col-md-6">
        @{Html.RenderPartial("_InputsView_1");}
        @{Html.RenderPartial("_InputsView_2");}
    </div> <!-- /.col-sm-12 col-md-6 -->

    <div class="col-sm-12 col-md-6">
        @{Html.RenderPartial("_Inputs_3photo");}
        @{Html.RenderPartial("_InputsView_4");}
    </div> <!-- /.col-sm-12 col-md-6 -->
</div><!-- /.row -->
