<!-- title Table -->
<table width="700pt">
<!-- title row -->
    <tr class="title">
        <td colspan="7" style="text-align:left;">Laporan Review Penjualan Produk</td>
    </tr>
    <tr class="title">
        <td colspan="7">&nbsp;</td>
    </tr>
</table>