<div class="row">
    <div class="col-sm-12 col-md-6">@{Html.RenderPartial("~/Views/Productstock/_Inputs_photo.cshtml");}</div> <!-- end col -->
    <div class="col-sm-12 col-md-6">@{Html.RenderPartial("~/Views/Productstock/_Inputs_data.cshtml");}</div> <!-- end col -->
</div> <!-- end row -->