@{
    ViewBag.Title = "Mutasi Barang/Furniture - " + ViewBag.Storagebasename;
    Layout = "~/Views/Shared/_LayoutPrintable.cshtml";
}

@section includeTOP {
    <!-- csslayout -->
    <link href="@Url.Content("~/")Content/print_mutasi.css" rel="stylesheet" type="text/css" />
}

@{Html.RenderPartial("~/Views/Trnstock/Reportprint_data.cshtml");}
@{Html.RenderPartial("~/Views/Trnstock/Reportprint_data_items.cshtml");}
@{Html.RenderPartial("~/Views/Trnstock/Reportprint_data_footer.cshtml");}


<br /><br /><br /><br />
<div class="no-print"><a href="@Url.Action("Index", ViewBag.Controllername)" >Selesai</a></div>

@section scripts {

<script type="text/javascript">
    window.print();
</script>

}
