@model IEnumerable<APPBASE.Models.CountrycodeVM>
@using APPBASE.Helpers
@using APPBASE.Svcbiz

<div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Nama Negara</th>
                    <th>Kode</th>
                </tr>
            </thead>

            <tbody>
                @if (Model == null) {
                    <tr>
                        <td colspan="3" align="center">@{Html.RenderPartial("_PartialEmpty");}</td>
                    </tr>
                }

                @{int nNo = 0;}

                @foreach (var item in Model)
                {
                    nNo++;
                    
                    <tr>
                        <td>@nNo</td>
                        <td class="SEARCHABLE_ROWS"><a href="@Url.Action("Details", new { id = item.ID })" class="btn btn-flat btn-sm btn-success"><i class="fa fa-search"></i></a> @Html.DisplayFor(modelItem => item.COUNTRY_NAME)</td>
                        <td class="SEARCHABLE_ROWS">@Html.DisplayFor(modelItem => item.COUNTRY_CODE)</td>
                    </tr>
                }
            </tbody>
        </table>
</div> <!-- ./table-responsive -->


