@model APPBASE.Models.TrnstockVM
@using APPBASE.Helpers
@using APPBASE.Svcutil
@using APPBASE.Svcbiz
@{int nNO = 0;}

<!-- title Table -->
<table width="700pt">
<!-- title row -->
    <tr class="title"><td colspan="7">&nbsp;</td></tr>
    <tr class="title"><td colspan="7">&nbsp;</td></tr>
    <tr class="title" style="text-align:right">
        <td colspan="5">&nbsp;</td>
        <td>Dibuat oleh,</td>
        <td>Disetujui oleh,</td>
    </tr>
    <tr class="title"><td colspan="7">&nbsp;</td></tr>
    <tr class="title"><td colspan="7">&nbsp;</td></tr>
    <tr class="title"><td colspan="7">&nbsp;</td></tr>
    <tr class="title" style="text-align:right">
        <td colspan="5">&nbsp;</td>
        <td>( @Html.DisplayFor(model => model.TRN_GIVER) )</td>
        <td>( @Html.DisplayFor(model => model.TRN_RECIPIENT) )</td>
    </tr>
</table>