@using APPBASE.Helpers

    <li class="treeview">
        <a href="#">
            <i class="fa fa-bars"></i> <span>KURANGI STOK</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li><a href="@Url.Action("Index", "Trnstockrevsub_display")"><i class="fa fa-angle-double-right"></i> Stok Display</a></li>
            <li><a href="@Url.Action("Logbook_trn", "Trnstockrevsub_display")"><i class="fa fa-angle-double-right"></i> Logbook Display</a></li>
        </ul>
    </li>


