@using APPBASE.Helpers

    <li class="treeview">
        <a href="#">
            <i class="fa fa-bars"></i> <span>TAMBAH STOK</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li><a href="@Url.Action("Index", "Trnstockrevadd_display")"><i class="fa fa-angle-double-right"></i> Stok Display</a></li>
            <li><a href="@Url.Action("Index", "Trnstockrevadd_gudanga")"><i class="fa fa-angle-double-right"></i> Stok Gudang Atas</a></li>
            <li><a href="@Url.Action("Index", "Trnstockrevadd_gudangb")"><i class="fa fa-angle-double-right"></i> Stok Gudang Bawah</a></li>
        </ul>
    </li>
