@using APPBASE.Helpers

    <li class="treeview">
        <a href="#">
            <i class="fa fa-bars"></i> <span>MUTASI</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li><a href="@Url.Action("Logbook", "Trnstockdisplay")"><i class="fa fa-angle-double-right"></i> Display</a></li>
            <li><a href="@Url.Action("Logbook", "Trnstockgudang_a")"><i class="fa fa-angle-double-right"></i> Gudang Atas</a></li>
            <li><a href="@Url.Action("Logbook", "Trnstockgudang_b")"><i class="fa fa-angle-double-right"></i> Gudang Bawah</a></li>
        </ul>
    </li>
