@model APPBASE.Models.DashboardVM
@using APPBASE.Helpers
@using APPBASE.Svcbiz

<div class="row">
    <div class="col-sm-12">
        <h4>Monitoring Barang/Furniture yang belum di Validasi</h4>
        @{Html.RenderPartial("Index_content_prodval");}
    </div> <!-- end col -->
</div>
<hr />
<div class="row">
    <div class="col-sm-12">
        <h4>Monitoring Barang/Furniture yang ada di Display & Gudang</h4>
        @{Html.RenderPartial("Index_content_prodstock");}
    </div> <!-- end col -->
</div>

@if (hlpConfig.SessionInfo.getAppRoleId() == valFLAG.FLAG_ROLE_ADM)
{
    <hr />
    <div class="row">
        <div class="col-sm-12">
            <h4>Monitoring Barang/Furniture Terjual</h4>
            @{Html.RenderPartial("Index_content_prodsell");}
        </div> <!-- end col -->
    </div>
}

