@model APPBASE.Models.DashboardVM
@using APPBASE.Helpers
@using APPBASE.Svcbiz

<div class="row">
    <div class="col-sm-12 col-md-3">
        <div class="small-box bg-red">
            <div class="inner">
                <h3>
                    @Html.DisplayFor(model => model.PRODVAL_NEW)
                </h3>
                <p>
                    Barang/Furniture Baru belum divalidasi oleh Ka. Showroom
                </p>
            </div>

            @if (hlpConfig.SessionInfo.getAppRoleId() == valFLAG.FLAG_ROLE_ADM)
            {
                <a href="@Url.Action("Indexvalidasi", "Product")" class="small-box-footer">
                    Tampilkan <i class="fa fa-arrow-circle-right"></i>
                </a>
            } else {
                <a href="@Url.Action("Index", "Productnew")" class="small-box-footer">
                    Tampilkan <i class="fa fa-arrow-circle-right"></i>
                </a>
            }
        </div> <!-- end small-box -->
    </div> <!-- end col -->
</div>

