@using APPBASE.Helpers
@using APPBASE.Svcbiz

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section includeTOP {
}

@section includeBOTTOM {
}


@section TitleIcon {
    <i class="fa fa-home"></i>
}



@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "myform" }))
{
<div class="row">
    <div class="col-xs-12">
        @{Html.RenderPartial("Index_content");}
    </div>
</div>
}

@section scripts {

<!-- Events -->
@{Html.RenderPartial("_Events");}

}

